/*
|--------------------------------------------------------------------------
| SASS Buttons
|--------------------------------------------------------------------------
|
| Here is where you can stylize the applicdation's buttons.
| 
*/

button {
    border: none;
    outline: none;
    background: transparent;
}

.app-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 0;
    overflow: hidden;
    border-radius: .375rem;
    height: 36px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 9%), 0 2px 3px -1px rgb(0 0 0 / 7%);
    border: none;
    color: #fff;
    
    &.btn--primary {
        background-color: $primary-color !important;
    }

    &.btn--square {
        width: 40px;
    }
    
    &.btn--simple {
        padding-inline: .75rem;
    }

    span {
        font-size: .8rem !important;
    }
}

.dt-buttons {
    .btn {
        background-color: $primary-color !important;
        border: none !important;
    }
    .app-btn {
        border-radius: 0;
        &:first-child {
            border-top-left-radius: .375rem;
            border-bottom-left-radius: .375rem;
        }
        &:last-child {
            border-top-right-radius: .375rem;
            border-bottom-right-radius: .375rem;
        }
    }
}