/*
|--------------------------------------------------------------------------
| SASS DataTables
|--------------------------------------------------------------------------
|
| Here is where you can stylize the dataTables of the applciation.
| 
*/

.dataTable-container {
    margin-top: .9rem;
    padding-bottom: .5rem;
    overflow: hidden;

    .dataTables_wrapper {
        .row {
            &:first-child {
                .col-sm-12 {
                    padding-bottom: .8rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px solid $border-color-light;
                }
            }
            &:nth-child(3) {
                margin-inline: 0 !important;
                overflow-x: auto;

                .col-sm-12 {
                    padding-inline: 0 !important;
                }
            }
        }
    }
}

.dataTable  {
    width: 100% !important;

    thead th,
    tbody td {
        border: none;
    }
    thead {
        th {
            text-transform: uppercase;
            font-size: .65rem;
            color: $table-font-color;
        }
    }
    tbody {
        tr {
            td {
                font-size: .9rem;
                vertical-align: middle;
                color: $font-color !important;
            }
        }
    }
}

@media (max-width: $bp-tablet) {
    .dataTables_filter,
    .dataTables_length {
        text-align: left;
    }
    .dataTables_wrapper  {
        .row:nth-child(2) {
            margin: 0;
            overflow-x: auto;
    
            .col-sm-12 {
                padding: 0;
            }
        }
    }
}

.dt-buttons,
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
    padding: .5rem 1.5rem;

    @media (max-width: $bp-tablet) {
        padding: .5rem 1rem;
    }
}
.dataTables_length,
.dataTables_filter {
    label {
        font-size: .75rem;
    }
}
.dataTables_length {
    text-align: left !important;
}
.dataTables_filter {
    label {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 2.5rem;

        .search-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            color: #fff;
            font-size: 1rem;
            height: 100%;
            border-radius: .375rem 0 0 .375rem;
            padding: 0 .7rem;
        }
        input {
            width: 100% !important;
            outline: none !important;
            box-shadow: none !important;
            padding: .5rem !important;
            border-color: $primary-color !important;
            height: 100%;
            margin-left: 0 !important;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            
            @media (min-width: $bp-tablet) {
                width: 500px !important;
            }
        }
    }

}

.dataTables_info {
    color: #8392ab;
    font-size: .875rem;
}
.dataTables_paginate {
    .paginate_button {
        .page-link {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #8392ab;
            padding: 0;
            margin: 0 5px;
            border: 1px solid #dee2e6;
            border-radius: 50%!important;
            width: 36px;
            height: 36px;
            font-size: .875rem;
            margin-left: 0;
        }

        &.previous, &.next {
            .page-link {
                position: relative;
                overflow: hidden;

                &:after {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: .9rem;
                    background: #fff;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
        }
        &.previous {
            .page-link {
                &:after {
                    content: '<';
                }
            }
        }
        &.next {
            .page-link {
                &:after {
                    content: '>';
                }
            }
        }

        &.active {
            .page-link {
                background-color: $primary-color;
                box-shadow: 0 3px 5px -1px rgb(0 0 0 / 9%), 0 2px 3px -1px rgb(0 0 0 / 7%);
                color: #fff;
                border: none;
                border-radius: 50%!important;
            }
        }
    }
}





#live-table__container {

    .live-table__wrapper {
        display: flex;

        .dataTable-live__header {
            position: relative;
            width: $table-section-header-width;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right: 1px solid $border-color-light;

            .count-datas {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                top: 0;
                width: 100%;
                font-size: .75rem;
                height: 32.6px;
                background-color: $primary-color;
                color: #fff;
            }

            h3 {
                font-size: 1rem;
                text-transform: uppercase;
                color: $primary-color;
                font-weight: bold;
                text-orientation: mixed;
                writing-mode: vertical-rl;
                margin: 0;
                text-align: center;
            }
        }

        .live-table__table {
            width: 100%;
            height: 50vh;
            overflow-y: auto;
            margin-top: 0 !important;

            table {
                thead {
                    position: sticky;
                    top: 0;
                    background-color: #fff;
    
                    tr {
                        th {
                            border-bottom: 1px solid $border-color-light !important;
                        }
                    }
                }
                tbody {
                    tr {
                        &:nth-child(odd) {
                            background-color: $table-odd-line-bg;
                        }
                        &:nth-child(even) {
                            background-color: $table-even-line-bg;
                        }
                        &.live-table__empty {
                            font-size: .9rem;
                            text-align: center;
                            background-color: #fff;
                        }
                    }
                }
                
                .data-count {
                    border-left: 1px solid $border-color-light;
                    text-align: center;
                    width: 5rem;
                }
            }
        }
    }
}

