/*
|--------------------------------------------------------------------------
| SASS Header
|--------------------------------------------------------------------------
|
| Here is where you can stylize the header of the applciation.
| 
*/

.header {
    width: 100%;
    transition: all .2s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(4px);
    background-color: transparent;

    .header-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        height: $header-height-mobile;
        
        .header-title {
            opacity: 0;
            padding-inline: .75rem;
        }

        @media (min-width: $bp-tablet) {
            height: $header-height;

            .header-title {
                padding-inline: 1.5rem;
            }
        }
    }
    
    &.scrolled {
        box-shadow: $shadow-lg;

        .header-title {
            opacity: 1;
        }
    }
}


#sidenav__minimalized-trigger {
    display: none;
    visibility: hidden;
    pointer-events: none;

    @media (min-width: $bp-laptop) {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50px;
        font-size: .9rem;
        background-color: #fff;
        color: $primary-color;
        border: 1px solid $border-color-light !important;
        visibility: visible;
        pointer-events: all;
    }
}

.header__sidenav-trigger {
    width: $header-height-mobile;
    height: 100% !important;
    border-radius: 0 !important;

    @media (min-width: $bp-tablet) {
        width: $header-height;
    }

    &.scrolled {
        .line {
            background-color: $primary-color !important;
        }
    }

    .header__sidenav-trigger-inner {
        width: 18px;
        cursor: pointer;
        margin: auto;

        .line {
            transition: all .15s ease;
            background: #fff;
            border-radius: 0.125rem;
            position: relative;
            display: block;
            height: 2px;

            &:not(:last-child) {
                margin-bottom: 3px;
            }

            &:first-child {
                width: 100%;
            }
            &:nth-child(2) {
                width: calc(100% - 20%);
            }
            &:last-child {
                width: calc(100% - 50%);
            }
        }
    }
}