/*
|--------------------------------------------------------------------------
| SASS Variables
|--------------------------------------------------------------------------
|
| Here is where you can register variables for your application.
|
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*
|--------------------------------------------------------------------------
| Global variables
|--------------------------------------------------------------------------
*/

$primary-color: #243783;
$secondary-color: #cbcfdd;
$font-color: #344767;
$shadow-lg: 0 20px 27px 0 rgb(0 0 0 / 5%);
$border-color-light: #dbdbdb;
$page-space-x: 1.5rem;
$hero-height: 264px;
$font-family: 'Poppins', sans-serif;

/*
|--------------------------------------------------------------------------
| Toast variables
|--------------------------------------------------------------------------
*/

$success-color: #4CAF50;
$error-color: #E53935;
$info-color: #2196F3;
$warning-color: #FFC107;

/*
|--------------------------------------------------------------------------
| Flash variables
|--------------------------------------------------------------------------
*/

$flash-alert-bg: #fcf1ef;
$flash-alert-ft: #c91c00;

/*
|--------------------------------------------------------------------------
| Partial variables
|--------------------------------------------------------------------------
*/

$sidenav-width: 15.625rem;
$sidenav-min-width : 6rem;
$header-height: 3.5rem;
$header-height-mobile: 3.5rem;
$logo-height: 2rem;
$footer-border-color: #505e99;

/*
|--------------------------------------------------------------------------
| Table variables
|--------------------------------------------------------------------------
*/

$table-font-color: #67748e;
$table-odd-line-bg: #f2f2f2;
$table-even-line-bg: #fff;
$table-section-header-width: 2.5rem;

/*
|--------------------------------------------------------------------------
| Form variables
|--------------------------------------------------------------------------
*/

$input-border-color: #e7eaf0;
$input-font-color: #495057;
$input-font-size: 1rem;

/*
|--------------------------------------------------------------------------
| Break points variables
|--------------------------------------------------------------------------
*/

$bp-laptop-L: 90rem; // 1440px
$bp-laptop: 64rem; // 1024px
$bp-tablet: 48rem; // 768px
$bp-mobile-L: 26.563rem; // 425px
$bp-mobile-M: 23.438rem; // 375px
$bp-mobile-S: 20rem; // 320px