/*
|--------------------------------------------------------------------------
| SASS Variables
|--------------------------------------------------------------------------
|
| Here is where you can register variables for your application.
|
*/

$border-color: red;
// background color
$background-color: #f8f9fa;
// table font color
$table-font-color: #67748e;
// font color
$font-color: #344767;
// error color
$error-color: #dc3545;
// success color
$success-color: #82d616;
// gradient color
$gradient-color: linear-gradient(310deg,#7928ca,#ff0080);
// large shadow
$large-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
