/*
|--------------------------------------------------------------------------
| SASS App
|--------------------------------------------------------------------------
|
| Here is where you can stylize the application by adding your own css.
| 
*/

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Global styles
@import 'style';
 
// Bootstrap
@import 'bootstrap/scss/bootstrap';
 
// DataTables
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';

// App imports
@import 'dataTables';
@import 'header';
@import 'sidenav';
@import 'footer';
@import 'buttons';

body {
    @media (min-width: $bp-laptop) {
        &[page-format=minimalized] {
            .sidenav {
                max-width: $sidenav-min-width !important;
    
                .sidenav__brand-logo {
                    background-image: url(../../public/images/stellantis-small-logo-white.png) !important;
                }
                /*
                .sidenav__image {
                    padding-inline: 1rem;
                    margin-top: -2.5rem;
                }
                */
                .nav-link {
                    width: auto !important;
                    border-radius: 50px !important;
    
                    .nav-item__text {
                        opacity: 0;
                        width: 0;
                    }
                }
            }
            .header, .main-content {
                margin-left: $sidenav-min-width !important;
                width: calc(100% - $sidenav-min-width) !important;
            }
        }
    }
    
    @media (max-width: $bp-laptop) {
        &.open {
            overflow: hidden;
    
            #sidenav {
                transform: translateX(0);
    
                .nav-link {
                    &.current-page {
                        box-shadow: none;
                    }
                }
            }
            #sidenav__overlay {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.main-title {
    font-size: 1.1rem;
    color: $primary-color;
    text-transform: uppercase;
    
    @media (min-width: $bp-tablet) {
        font-size: 1.2rem;
    }
}
.subtitle {
    font-size: .85rem;
    color: $font-color;
}

header, main, footer {
    padding: 2rem;
    width: 100%;
}

main {
    margin-bottom: auto;
}

.card {
    box-shadow: $large-shadow;
    border: none;
}

.line-clamp {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;

	&.lc-1 {
		-webkit-line-clamp: 1;
	}
	&.lc-2 {
		-webkit-line-clamp: 2;
	}
	&.lc-3 {
		-webkit-line-clamp: 3;
	}
}

.main-content {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: all .2s ease-in-out;
    position: relative;
    height: 100%;

    @media (min-width: $bp-laptop) {
        margin-left: $sidenav-width;
        width: calc(100% - $sidenav-width);
    }

    .main-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: $header-height-mobile;
        min-height: calc(100vh - $header-height-mobile);

        @media (min-width: $bp-tablet) {
            margin-top: $header-height;
            min-height: calc(100vh - $header-height);
        }

        .main-inner {
            margin-bottom: auto;
            padding: 1.5rem .5rem;

            @media (min-width: $bp-tablet) {
                padding-inline: 1.5rem;
            }
        }
    }
}
.blur {
    backdrop-filter: saturate(200%) blur(30px) !important;
    background-color: hsla(0,0%,100%,.8) !important;
}

#header__sidenav-trigger,
#sidenav__close-btn {
    display: block;
    @media (min-width: $bp-laptop) {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
}


/* ------------------- */
/*  TOAST
*/
.toast-wrapper {
    position: fixed;
    overflow: hidden;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: $page-space-x;
    margin-top: $header-height;
    z-index: 4;

    .toast {
        display: block;
        position: relative;
        width: auto;
        background-color: #fff;
        color: $font-color;
        min-width: 300px;
        border: none;
        border-radius: .375rem;
        overflow: hidden;
        box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
        transform: translateX(0);
        transition: all .3s ease-in-out;

        strong {
            text-transform: capitalize;
        }

        &.closed {
            opacity: 0;
            transform: translateX(150%);
        }
        .toast-header,
        .toast-body {
            padding-inline: 1rem;
        }

        p {
            color: rgba(0, 0, 0, .7);
            margin-bottom: .5rem;
            font-size: .9rem;
        }

        i.bi {
            font-size: 1.2rem;
        }

        strong {
            font-size: .95rem;
            margin-left: 1rem;
        }

        &:before {
            content: "";
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            left: 0;
        }
        &[data-level=success] {
            i.bi {
                color: $success-color;
            }
            &:before {
                background-color: $success-color;
            }
        }
        &[data-level=info] {
            i.bi {
                color: $info-color;
            }
            &:before {
                background-color: $info-color;
            }
        }
        &[data-level=warn] {
            i.bi {
                color: $warning-color;
            }
            &:before {
                background-color: $warning-color;
            }
        }
        &[data-level=error] {
            i.bi {
                color: $error-color;
            }
            &:before {
                background-color: $error-color;
            }
        }
    }
}

.spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}
.spinner-border {
    border-width: 1px;
    width: 13px;
    height: 13px;
}