/*
|--------------------------------------------------------------------------
| SASS Documentation
|--------------------------------------------------------------------------
|
| Here is where you can stylize documentation pages
| 
*/
@import "variables";
@import "style";
@import "buttons";

.docs-banner {
    background-color: $primary-color;
    color: #fff;
    padding: .5rem;
    font-weight: 500;
    text-align: center;
    font-size: .9rem;

    span {
        opacity: .8;
    }
}

.docs-layout {
    display: flex;
    align-items: flex-start;
}

.docs-aside {
    position: sticky;
    top: 0;
    background-image: linear-gradient(to bottom, #f5f5fa, #fff);

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        opacity: 0;
    }

    @media (min-width: 1536px) {
        max-width: 32rem;
        width: 100%;
    }

    .docs-aside__img {
        width: 100%;
        padding: 2rem 0;
    }

    .docs-aside__wrapper {
        position: relative;
        
        &:after {
            content: "";
            display: block;
            position: sticky;
            left: 0;
            height: 5rem;
        }
    
        &:after {
            bottom: 0;
            background-image: linear-gradient(to bottom, transparent, #fff);
        }
    }

    .docs-aside__inner {
        position: relative;
        padding-inline: 4rem;

        @media (min-width: 1280px) {
            width: 20rem;
        }

        .docs-aside__nav {
            margin-top: 1rem;

            ul {
                li {
                    position: relative;
                    display: block;
                    padding: 0.65em 0;
                    white-space: nowrap;

                    h2 {
                        color: $docs-nav-link-ft;
                        cursor: pointer;
                        font-weight: bold;
                        display: block;
                        font-size: .9em;
                        font-weight: bold;
                        margin-bottom: 1em;
                        text-decoration: none;
                        transition: all .3s ease;
                    }
                }
                ul {
                    position: relative;

                    li {
                        a {
                            font-weight: 400;
                            line-height: 1.25;
                            padding-left: 1em;
                            position: relative;
                            color: $docs-nav-link-ft;
                            display: block;
                            font-size: .9em;
                            font-weight: 400;
                            text-decoration: none;

                            &.active {
                                color: $primary-color;
                                font-weight: 600;

                                &:before {
                                    content: "";
                                    position: absolute;
                                    height: 0.4rem;
                                    width: 0.4rem;
                                    border-radius: 50%;
                                    background-color: $primary-color;
                                    left: 0;
                                    top: 0.40em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.docs-content {
    .docs-content__wrapper {
        padding-inline: 6rem;

        .docs-content__inner {
            margin-top: 2rem;
            margin-bottom: 4rem;

            .docs-main {
                max-width: 65ch;
            }
        }
    }
}


.docs-main {
    .doc-section {
        padding-bottom: 3rem;
        border-bottom: 1px solid $border-color-light;
        margin-bottom: 4rem;
    }
    h2 {
        font-weight: 400;
        line-height: 1.125em;
        padding-top: 2em;
        margin-bottom: 0.75em;
    }

    p {
        font-size: 1rem;
        line-height: 1.8em;
        margin-bottom: 1.5em;
        color: $docs-text-ft;
    }

    .list {
        list-style: inside !important;
        margin-bottom: 1.5em !important;
        p {
            display: block;
            margin-bottom: .5rem;
        }
        li {
            margin-left: 1.5rem !important;
        }
    }

    .highlighted {
        color: $primary-color;
        font-weight: bold;
    }

    .img-section,
    .code-section {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }

    .code-section {
        position: relative;
        overflow-x: auto;
        border-radius: .5rem;
        display: block;
        background-color: $docs-code-bg;
        padding-bottom: 1rem;
        padding-top: 1rem;
        
        code {
            font-size: .85rem;
            font-weight: 500;
            line-height: 1.9;
            font-family: monospace;
            min-width: max-content;

            .line {
                padding-left: 1rem;
                padding-right: 2rem;

                span {
                    color: $docs-code-ft;
                }
            }
        }

        .btn-copy {
            position: absolute;
            top: .5rem;
            right: .5rem;
            color: $docs-code-ft;
            opacity: .5;

            .check-icon {
                display: none;
            }

            &.success {
                .copy-icon {
                    display: none;
                }
                .check-icon {
                    display: block;
                }
            }
            &:hover, &.success {
                opacity: 1;
            }
        }
    }

    .img-section {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: .5rem;
        margin-bottom: 2.5rem;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &[img-type=small] {
            width: fit-content;
            height: 3rem;
            margin-bottom: 1rem;

            img {
                width: auto;
            }
        }
    }
}

.popover {
    .popover-body {
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-size: .8rem;
    }
}


.doc-btn {
	display: inline-flex;
    position: relative;
    font-size: .85rem;
    background-color: #fff;
    color: $primary-color !important;
    text-transform: uppercase;
    line-height: 1.2;
    border: 1px solid $primary-color;
    text-decoration: none;

    &.--primary {
        color: #fff !important;
        span {
            background-color: $primary-color;
        }
    }
    span {
        transition: all .2s ease-in-out;
    }

    span {
        padding: .6rem 1rem;
        position: relative;
        background-color: #fff;
        font-weight: 500;
        display: flex;
        align-items: center;
        box-shadow: 0 0 0 1px $primary-color;
        z-index: 1;
        gap: .6rem;
    }

    &:hover {
        span {
		    transform: translate(-.25rem, -.25rem);
        }
    }
}