/*
|--------------------------------------------------------------------------
| SASS Style
|--------------------------------------------------------------------------
|
| Here is where you can stylize the global style of the applciation.
| 
*/

html {
    color-scheme: dark light;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fff !important;
}

*, *::after, *::before {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

header, main, footer {
    padding: 0 !important;
}

ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: #fff;
}